#para{
    color: rgb(234, 12, 197);
    font-family: fantasy;
}
#par{
    color: #434343;
    font-size:medium;
    font-family: fantasy;
}
li{
    color: rgb(243, 243, 243);
}
body{
    
    background-image: url("C:/Users/jawa0/OneDrive/Desktop/VAC/image/laptop-murjp1nk4lp1idlt.jpg");
    background-size: cover;
    
}           
